*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.app_main{
    background-color: rgb(167, 102, 250);
}

.app_main_heading{
    color: rgb(10, 10, 90);
    text-align: center;
    padding: 1.5rem ;
}